.designer {
    width: 400px;
    height: 400px;
    border: 1px gray solid;
    float: left;
    margin: 0 10px 0 10px;
}

.component-panel {
    float: left;
    border: 1px gray solid;
}

.component-panel .panel-body ul {
    list-style: none;
    padding: 0;
}

.editor-panel {
    width: 180px;
    border: 1px gray solid;
}

.editor-panel .form-control {
    width: 100%;
}

.editor-panel .text-center {
    text-align: center;
}

#container {
    padding: 20px;
}