body {
    background: whitesmoke;
}

@component-panel-width:90px;
.component-panel {
    position: absolute;
    background: white;
    margin-right: 10px;
    height: ~'calc(100% - 50px)';
    width: @component-panel-width;
    .panel-heading {
        text-align: center;
    }
    ul {
        li {
            /* float: left; */
            width: 64px;
            text-align: center;
        }
    }
}

@editor-panel-widht: 300px;
.editor-panel {
    position: absolute;
    right: 0;
    width: @editor-panel-widht;
    height: ~'calc(100% - 50px)';
    // border: solid 1px black;
    background: white;
    // padding: 10px;

    label {
        width: 80px;
        float: left;
        padding: 4px;
    }
    .control {
        padding-left: 90px;
    }
}

.main-panel {
    margin-left: @component-panel-width + 6px;
    margin-right: @editor-panel-widht + 6px;
}

.page-view {
    width: 400px;
    float: left;
    background: white;
    list-style: none;
}

.control-selected {
    border: solid 1px #0080FF;
}
