body {
    background: whitesmoke;
}

@panel-height: ~'calc(100% - 50px)';
@component-panel-width:90px;
.component-panel {
    position: absolute;
    background: white;
    margin-right: 10px;
    height: @panel-height;
    width: @component-panel-width;
    .panel-heading {
        text-align: center;
    }
    ul {
        li {
            /* float: left; */
            width: 64px;
            text-align: center;
        }
    }
}

@editor-panel-width: 300px;
.editor-panel {
    position: absolute;
    right: 0;
    width: @editor-panel-width;
    height: @panel-height;
    background: white;

    label {
        width: 80px;
        float: left;
        padding: 4px;
    }
    .control {
        padding-left: 90px;
    }
    .empty {
        padding-top: 200px;
        text-align: center;
    }
}

.main-panel {
    @margin-left :@component-panel-width + 6px;
    @margin-right: @editor-panel-width + 6px;
    position: absolute;
    left: @margin-left;
    // margin-right:  @margin-right;
    height: @panel-height;
    width: ~"calc(100% -  @{margin-left} - @{margin-right})";
}

.page-view {
    width: 400px;
    float: left;
    background: white;
    list-style: none;

    header {
            min-height: 80px;
        border: dotted 3px #ccc;
    }
    section {
            min-height: 200px;
        margin: 8px 0 8px 0;
        border: dotted 3px #ccc;
    }
    footer {
            min-height: 80px;
        border: dotted 3px #ccc;
    }
    .control-container {
        .empty {
            text-align: center;
            padding-top: 30px;
        }
    }
    h1, .h1, h2, .h2, h3, .h3 {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.control-selected {
    border: solid 1px #0080FF;
}
